body{
    margin: 10px 20px;
    padding: auto;
}
header .menu .haut{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header .menu .bas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
}
header .menu .acceuil{
    font-size: 14px;
    margin-left: 50px;
}
header .menu .entete{
    font-size: 14px;
    margin-left: 30px;
}
header .menu a{
     text-decoration: none;
    color: black;
}
.premier h3{
    text-align: center;
}
.premier .plan img{
    width: 1250px;
    height: 400px;
}
.premier .images{
    display: flex;
    flex-wrap: wrap;
}
.premier .images .image img{
    width: 370px;
    height: 250px;
    margin: 16px;
}
